html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
}
.nav{
  margin-top: 10px;
  background: #FFBF00;
  overflow: hidden;
}
.nav .menu_nav{
  list-style: none;
  background: #FFBF00;
}
.nav .menu_nav>li{
padding: 1em;
width: 18%;
float: left;
text-align: center;
}
.nav .menu_nav>li>a{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.nav .menu_nav>li:hover,.nav .menu_nav>li>.sub_menu>li:hover{
  background: #A9F5F2;
  cursor: pointer;
}
.nav .menu_nav>li>.sub_menu{
  position: absolute;
  background: #0B3861;
  width: 16%;+
  list-style: none;
  margin-top: 1em;
  display: none;
  margin-left: -1em;
}
.nav .menu_nav>li:hover>.sub_menu{
  display: block;
}
.nav .menu_nav>li>.sub_menu>li{
padding: 1em;
}
.nav .menu_nav>li>.sub_menu>li>a{
text-decoration: none;
font-size: 12px;
font-weight: bold;
color: #fff;
}
.contenido-principal{
  margin-top: 10px;
margin-right: 40%;
background-color: #FFFFFF;

}

.contenedor{
background-color: #FFFFFF;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
position: relative;
}
.contenido-principal{
  width: 700px;
  margin-left: auto;
  margin-right: auto;

}
.nav{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.menu_nav{
  margin-left: auto;
  margin-right: auto;
}

body {

  background-color: #FFFFFF;
}
body footer {

  background-color: #FFBF00;
  height: 50px;
}
body footer ul{

list-style: none;
text-align: center;
}
body footer ul li{

display: inline;
letter-spacing: 2px;
}
body footer ul li:hover{
font-size: 30px;
}

.aside{
width: 300px;
margin-right: 70%;
position: absolute;
left: 1040px;
top: 478px

}
.aside h2{
  background-color: #FFBF00;
}
.contenido p{
  font-family: cursive;
  text-align: justify;
  font-variant: small-caps;
}
.contenido fieldset legend{
  font-family: Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
#logohtml{
display: block;
margin: auto;
}
#logocss{
  display: block;
  margin: auto;
}
#logogithub{
  display: block;
  margin: auto;
}
.dato-personal li{
text-decoration: none;
list-style: none;
}
.footer-autor{
  margin-top: 300px;
}
.footer-audio{
  margin-top: 680px;
}
